{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_id,
    paragraph.field_fluid_width.0.value == 0 ? 'container',
    paragraph.field_fluid_width.0.value == 1 ? 'container-fluid',
    content.field_boolean.0['#markup'] == 'On' and paragraph.field_fluid_width.0.value == 1 ? 'p-0'
  ]
%}
{% set breaker = content.field_flexible_blocks_display.0['#markup'] %}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    <div class="row{% if content.field_boolean.0['#markup'] == 'On' %} no-gutters{% endif %}">
    {% block content %}

      {% if content.field_title.0['#context'].value != '' %}
      <div class="col-md-12">
        <div class="cta-image-block-section-title">{{ content.field_title }}</div>
      </div>
      {% endif %}      

      {% for key, item in content.field_flexible_bg_image_blocks if key|first != '#' %}
        {% set paragraph_id = 'cta-block-' ~ item['#paragraph'].id.value %}
        {{ item }}
        {% if (key + 1) % breaker == '0' %}
          <div class="w-100"></div>
        {% endif %}

      {% endfor %}

    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
