.page-user-login {
  #site-branding {
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
  }
  .views-page-title {
    padding-top: 3rem;
    @media (min-width: $screen-sm-min) {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
      left: 8.335%;
      position: relative;
      padding-top: 75px;
    }
  }

  .layout-container {
    padding-top: 2rem;
    padding-bottom: 4rem;
    .layout-center {
      @media (min-width: $screen-sm-min) {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        left: 8.335%;
        position: relative;
      }
      padding: 0 1rem;
    }

    .block-local-tasks-block {
      .tabs {
        &.primary {
          border-bottom: 2px solid $border-color;

          li {
            margin: 0;
            padding: 0;
            line-height: normal;

            a {
              height: 40px;
              color: $gray-darker;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 600;

              &:hover {
                color: $color-white;
                background: $color-blue;
              }
            }

            &.is-active {
              a {
                color: $color-white;
                background: $color-blue;
                margin: 0;
              }
            }
          }
        }
      }
    }
    form {
      &.user-pass, &.user-login-form {
        .form-item {
          margin-bottom: 40px;
          &:first-child {
            margin-top: 45px;
          }
          input {
            height: 50px;
            border-radius: 0;
            font-size: 16px;
            &:focus {
              background: $gray-light;
            }
          }
          .description {
            color: #333;
          }
        }
        details.captcha{
          padding: 0;
          margin: 0;
          border: none;
          summary, .details-description  {
            display: none;
          }
          .details-wrapper {
            padding: 0;
            border: none;
          }
          .js-form-item-captcha-response {
            span.field-prefix {
              display: block;
              float: left;
              line-height: 50px;
              padding-right: 15px;
            }
            input {
              float: left;
              width: 100px;
              margin: 0;
            }
            .description {
              clear: both;
            }
          }
        }
        .form-actions {
          input {
            padding: 10.5px 30px;
          }
        }
      }
    }
  }
}
